<center><link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

<%= @prop.name %><br />
<%= @prop.rooms %> <br />

<h2>Bills</h2>
<ul>
<% @prop.properties.each do |bill| %>
  <li><a href="/bills/<%=bill.id%>"><%= bill.name %></a></li>
<% end%>
</ul>
<a href="/property/<%=@prop.id%>/edit">Edit</a>
<br />
<br />
</center>
