<h1>Edit Your Bill</h1>
<form action="/bills/<%= @bill.slug %>" method="post">
  <input id="hidden" type="hidden" name="_method" value="patch">
  <label>Name:</label><input type="text" id="Name" name="bill[name]" value="<%= @bill.name %>"><br><br>
  <label>Bill:</label><input type="text" id="User Name" name="bill[user]" value="<%= @bill.user.name %>"><br><br>
  <label>Property:</label><br>
  <% Genre.all.each do |prop| %>
    <input type="checkbox" id="<%= prop.name %>" name="bill[properties][]" value="<%= prop.id %>" <%='checked' if @bill.properties.include?(prop) %>>
    <%= prop.name %>
    </input>
    <br>
  <% end %>
  <br>
  <input type="submit" value="Save">
</form>
