<h1>Edit <%= @bill.name %></h1>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

<form action="/bills/<%=@bill.id %>" method="POST">
  <label> Bill Name </label>
  <input type="text" name="name" value="<%=@bill.name %>"> </br>

  <label> Bill Amount </label>
  <input type="text" name="amount" value="<%=@bill.amount%>"> </br>

  <label> Which Property does this belong in? </label>
  <select name="property_id">
    <% current_user.properties.each do |prop| %>
      <option value=<%=prop.id %> <%= "selected" if prop.id==@bill.prop.id %> ><%= prop.name %></option>
    <% end %>
  </select>

  <input type="submit" value="Update">
</form>
