<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

<%= @bill.name %><br />
 <%= @bill.amount %> <br />
 Bag: <a href="/bills/<%=@bill.properties.id%>"><%= @bill.properties.name %></a> <br />
 <a href="/bills/<%=@bill.id%>/edit">Edit</a>
 <br />
 <br />
