<%= @bill.name %><br />
  <%= @bill.amount %> <br />
  Bill: <a href="/bills/<%=@bill.property.id%>"><%= @bill.property.name %></a> <br />
  <a href="/bills/<%=@bill.id%>/edit">Edit</a>
  <br />
  <br />
